.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
    margin: 0;
    padding: 0;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    min-height: 100%;
    color: white;
    font-size: 12px;
}
body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    outline: 0 none;
}

input[type='search'] {
    width: 100%;
    border: 0;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    min-width: 500px;
}
input[type='submit'] {
    background: none;
    border: 0 none;
    padding: 0;
}

ul.commands {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 34px;
    list-style-type: none;
}
ul.commands li {
    display: inline;
    color: black;
    padding: 0px 10px;
    border-left: 1px solid #ccc;
}

#results {
    text-align: center;
}
#results > * {
    text-align: left;
}

#results .error {
    text-align: center;
    padding: 30px 0px;
}

/* videos */
article {
    float: left;
    width: 720px;
    height: 400px;
    position: relative;
    background: #1E1E1E;
}
article .background,
article .mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
article .background {
    background-size: cover;
}
/* dark background */
article:hover .mask {
    background: rgba(0,0,0,0.5);
}
/* blurred background */
article:hover .background {
    -webkit-filter:blur(4px);
    filter:url("../svg/blur.svg#blur");
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

/* video title */
article h2 {
    padding: 15px;
    font-variant: small-caps;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
article h2 a {
    text-shadow: -2px 1px 2px #000000;
}
article:hover h2 {
    display: block;
}

article a {
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
article a:hover {
    text-shadow: 0 0 10px;
}

/* video details */
article .details {
    display: none;
    padding: 15px;
}
article:hover .details {
    display: block;
}
a[href="#"] {
    display: none;
}

/* timeline */
.timeline {
    position: absolute;
    top: 20px;
    right: 20px;
    background: url("../img/play.png") no-repeat center center #151515;
    width: 108px;
    height: 60px;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.1);
}
.timeline:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

/* sources */
ul.sources {
    list-style: none;
}
ul.sources li a {
    font-size: 14px;
}
